<% include ../header %>




<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler" data-uk-sortable="" data-uk-grid-margin="">
            <!-- DATA PATTERN -->
            <div style="">
                <div class="md-card">
                    <div class="md-card-content">
                        <!-- <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_visitors peity_data" style="display: none;">5,3,9,6,5,9,7</span><svg class="peity" height="28" width="48"><rect fill="#d84315" x="1.3714285714285717" y="12.444444444444443" width="4.114285714285715" height="15.555555555555557"></rect><rect fill="#d84315" x="8.228571428571428" y="18.666666666666668" width="4.114285714285716" height="9.333333333333332"></rect><rect fill="#d84315" x="15.085714285714287" y="0" width="4.1142857142857086" height="28"></rect><rect fill="#d84315" x="21.942857142857147" y="9.333333333333336" width="4.114285714285707" height="18.666666666666664"></rect><rect fill="#d84315" x="28.800000000000004" y="12.444444444444443" width="4.114285714285707" height="15.555555555555557"></rect><rect fill="#d84315" x="35.65714285714286" y="0" width="4.114285714285707" height="28"></rect><rect fill="#d84315" x="42.51428571428572" y="6.222222222222221" width="4.114285714285707" height="21.77777777777778"></rect></svg></div> -->
                        <span class="uk-text-muted uk-text-small">Name</span>
                        <h2 class="uk-margin-remove"><span class="countUpMe" id="sname">-</span></h2>
                    </div>
                </div>
            </div>
            <div style="">
                <div class="md-card">
                    <div class="md-card-content">
                        <!-- <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_orders peity_data" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg class="peity" height="28" width="64"><polygon fill="#d1e4f6" points="0 27.5 0 12.5 7.111111111111111 18.5 14.222222222222221 0.5 21.333333333333332 9.5 28.444444444444443 12.5 35.55555555555556 0.5 42.666666666666664 6.5 49.77777777777777 18.5 56.888888888888886 12.5 64 21.5 64 27.5"></polygon><polyline fill="none" points="0 12.5 7.111111111111111 18.5 14.222222222222221 0.5 21.333333333333332 9.5 28.444444444444443 12.5 35.55555555555556 0.5 42.666666666666664 6.5 49.77777777777777 18.5 56.888888888888886 12.5 64 21.5" stroke="#0288d1" stroke-width="1" stroke-linecap="square"></polyline></svg></div> -->
                        <span class="uk-text-muted uk-text-small">Status</span>
                        <h2 class="uk-margin-remove"><span class="countUpMe" id="sstatus">-</span></h2>
                    </div>
                </div>
            </div>
            <div style="">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_sale peity_data" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg class="peity" height="28" width="64"><polygon fill="#d1e4f6" points="0 27.5 0 12.5 7.111111111111111 18.5 14.222222222222221 0.5 21.333333333333332 9.5 28.444444444444443 12.5 35.55555555555556 0.5 42.666666666666664 6.5 49.77777777777777 18.5 56.888888888888886 12.5 64 21.5 64 27.5"></polygon><polyline fill="none" points="0 12.5 7.111111111111111 18.5 14.222222222222221 0.5 21.333333333333332 9.5 28.444444444444443 12.5 35.55555555555556 0.5 42.666666666666664 6.5 49.77777777777777 18.5 56.888888888888886 12.5 64 21.5" stroke="#0288d1" stroke-width="1" stroke-linecap="square"></polyline></svg></div>
                        <span class="uk-text-muted uk-text-small">Value</span>
                        <h2 class="uk-margin-remove"><span class="countUpMe" id="svalue">-</span></h2>
                    </div>
                </div>
            </div>
        </div>



        <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
        <div class="md-card uk-margin-medium-top">
            <div class="md-card-content">
                <canvas id="myChart"></canvas>
            </div>
        </div>


        <div class="md-card uk-margin-medium-top">
            <div class="md-card-content">
                <div class="md-input-wrapper">
                    <label>Search</label>

                    <input type="text" id="search_table"
                           class="md-input">

                    <span class="md-input-bar"></span>
                </div>
                <div class="uk-overflow-container">

                    <table class="uk-table uk-table-hover" id="mytable">
                        <thead >
                            <!-- DATA PATTERN -->
                            <tr id="thead">
                                <!-- <th>Hash</th> -->
                                <th>Name / Status</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</div>





<!-- <script type='text/javascript' src="/javascripts/main/test.js"></script> -->

<!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>


<!-- serializejson -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"
    crossorigin="anonymous"></script> -->


<script>
    path = window.location.pathname.split('/')[2];


    $(document).ready(function(){
        get_data();
        setInterval(function(){ get_data(); }, 8000);

        $("#search_table").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#mytable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function get_data(){
        $("#tbody").empty();
        let y = [];
        let lb = [];
        $.getJSON('/api/service/show/'+ path +'').done(function(dt){
            dt.forEach((d, e) => {
                if(e == 0 ){
                    Object.keys(d).forEach((o) => {
                        // console.log(o);
                        // $("#thead").append(`
                        //     <th>${o}</th>
                        // `)
                    });
                    // DATA PATTERN
                    $("#sname").text(d.name);
                    $("#sstatus").text(d.status);
                    $("#svalue").text(d.value);
                }
                let b = '<span class="uk-badge">Enabled</span>';
                if(d.status != 'EN'){
                    b = '<span class="uk-badge uk-badge-danger">Disabled</span>'
                }

                // DATA PATTERN
                $("#tbody").append(`
                    <tr>
                        <td>
                            <h4 style="margin-bottom:5px"><strong>${d.name}</h4></strong>
                            <p class="uk-margin-remove">
                                ${b}
                            </p>
                        </td>
                        <td>${d.value}</td>
                    </tr>   
                `) ;
                
                // DATA PATTERN > 5 TO CHART
                if(y.length < 5){
                    y.push(d.value);
                    lb.push(d.name);
                }
            });
            renderChart(y, lb);
        });
    }

    function renderChart(data, labels) {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: `${path} data`.toUpperCase(),
                    data: data,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                }]
            },
        });
    }
</script>


<% include ../footer %>
